# default crapfile-ignores
*~
*.*bak*
*.old*
*.log
*.log*
*_log_*
*.bz2
*.gz
*.xz
*.tar
*.pyc
*.zip
*.nbm
*.orig
*.swp*
*.*-swp
*.db
*.jar
!/lib/*
target
output
data
!data/test_instance.txt
build
old
pyconcorde
.cache
.settings
.project
.kdev4
.buildpath
.svn
.idea
.idea/*
*.iml
out/*
**/out/*
**/bin/*
.classpath
docs/javadoc*
docs/_site
*.lp
local.conf
**/.idea/workspace.xml
**/.idea/tasks.xml
**.idea/vcs.xml
**.idea/misc.xml
eggs/